{% extends 'base.html' %}

{% block content %}
    <h1>Invoice list view</h1>
    {% for invoice in invoices %}
      <a href="{% url 'invoice' invoice.id %}">
        <p>{{ invoice.description }}<p>
      </a>
    {% endfor %}

    {% include 'forms/invoiceForm.html' %}

    <div>
      <span>
          {% if page_obj.has_previous %}
              <a href="?page=1">First</a>
              <a href="?page={{ page_obj.previous_page_number }}">Prev</a>
          {% endif %}
          <span>
              Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}
          </span>
          {% if page_obj.has_next %}
              <a href="?page={{ page_obj.next_page_number }}">Next</a>
              <a href="?page={{ page_obj.paginator.num_pages }}">Last</a>
          {% endif %}
      </span>
    </div>
{% endblock content %}