{% load static %} {% load static tailwind_tags %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Invoices</title>
    <script
      type="text/javascript"
      src="{% static '/js/htmx.min.js' %}"
      defer
    ></script>
    <script
      type="text/javascript"
      src="{% static '/js/alpine.min.js' %}"
      defer
    ></script>
    {% tailwind_css %}
  </head>
  <body class="bg-red-500">
    <main>{% block content %} {% endblock %}</main>
  </body>
</html>
